*{
    padding: 0;
    margin: 0;
}
body{
    background:
    linear-gradient(rgba(0,0,0,0.95), rgba(0,0,0,0.30)),
    url("imagens/fundo-cadastro.png"); 
    background-attachment: fixed;
    background-size: cover;         
    background-repeat: no-repeat;  
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif
}
.seta{
    position: fixed;   
    top: 20px;         
    left: 50px;       
    z-index: 1000;    
}
.seta i{
    color: white;
    font-size: 50px;
    cursor: pointer;
}
.caixa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.b1{
    background-color: #E8E2D6;
    height: 280px;
    border-radius: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Playpen Sans Thai", cursive;
    width: 450px;
    margin: 20px;
    flex-direction: column;
}
.b2{
    background-color: #E8E2D6;
    height: 600px;
    border-radius: 50px;
    text-align: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    margin: 20px;
}
.b2 h1{
    margin-bottom: 25px;
    font-family: "Playpen Sans Thai", cursive;
}
.b2 input{
    width: 80%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 30px;
    outline: none;
    background: white;
    font-size: 15px;
}
.link{
    width: 80%;
    display: block;
    margin: 5px 0 15px 0;
    font-size: 14px;
    color: #3a3a3a;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
     text-decoration: underline;
}
.link:first-of-type{
    text-align: right;
}
input[type="date"]{
    width: 80%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 30px;
    outline: none;
    background: white;
    font-size: 15px;
    color: #333;
}
.bnt{
    width: 80%;
    padding: 15px;
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    background-color: #6B8E23;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}
.bnt:hover{
    background-color: #5a7a1d;
}
.bnt-google{
    width: 80%;
    padding: 15px;
    margin-top: 15px;
    border: none;
    border-radius: 30px;
    background-color: #6B8E23;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.bnt-google:hover{
    background-color: #5a7a1d;
}
.link:last-of-type{
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
}
.link:hover{
    color: #6B8E23;
}
.footer {
    background-color:#E8E2D6;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
@media (max-width: 1138px){
   
    .b1{
        width: 400px;
    }
    .b2{
        width: 400px;
    }
}
@media (max-width: 1032px){
    .b1{
        width: 380px;
    }
    .b2{
        width: 380px;
    }
}
@media (max-width: 910px){
    .b1{
        width: 350px;
    }
    .b2{
        width: 350px;
    }
}
@media (max-width: 850px){
    .b1{
        width: 320px;
    }
    .b2{
        width: 320px;
    }
}
@media (max-width: 800px){
    .b1{
        width: 290px;
    }
    .b2{
        width: 290px;
    }
}
@media (max-width: 740px){
    .b1{
        width: 250px;
    }
    .b2{
        width: 250px;
    }
}
@media (max-width: 650px){
    .b1{
        width: 220px;
    }
    .b2{
        width: 220px;
        padding: 10px;
    }
}
@media (max-width: 530px){
    .seta i{
        font-size: 30px;
    }
    .caixa{
        grid-template-columns: 1fr;   
        justify-items: center;        
    }

    .b1{
        display: none;
    }

    .b2{
        width: 250px;
        height: 560px;
        margin-top: -20px; 
    }
}