*{
    padding: 0;
    margin: 0;
}
body{
    background:
    linear-gradient(rgba(0,0,0,0.95), rgba(0,0,0,0.30)),
    url("imagens/fundo-cadastro.png"); 
    background-size: cover;         
    background-repeat: no-repeat;  
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caixa{
    display: grid;
    grid-template-columns: 500px 500px;
    max-width: 100%;
    gap: 190px;
    align-items: center;
}
.b1{
    background-color: #E8E2D6;
    height: 280px;
    border-radius: 50px;
    font-family: "Playpen Sans Thai", cursive;
}
.b2{
    background-color: #E8E2D6;
    height: 600px;
    border-radius: 50px;
    font-family: "Playpen Sans Thai", cursive;
}
.footer {
    background-color:#E8E2D6;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}