*{
    padding: 0;
    margin: 0;
}
body{
    background:
    linear-gradient(rgba(0,0,0,0.95), rgba(0,0,0,0.30)),
    url("imagens/fundo-cadastro.png"); 
    background-size: cover;         
    background-repeat: no-repeat;  
    min-height: 100vh;
}
.caixa{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 70%;
    max-width: 900px;
    gap: 20px;
}
.b1{
    background-color: #E8E2D6;
    font-family: "Playpen Sans Thai", cursive;
}
.b2{
    background-color: #E8E2D6;
}