*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #484933; 
    font-weight: 300;
}
h1, h2, h3{
    font-weight: 600;
}

/* HEADER */
header{
    padding: 15px;
}
.menu{
    background-color: #E8E2D6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-radius: 50px;
}
.logo{
    width: 140px;
    height: 55px;
    object-fit: contain;
    cursor: pointer;
}
.barra-de-pesquisa{
    flex: 1;
    max-width: 500px;
    position: relative;
}
.barra-de-pesquisa input{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding-left: 35px;
    border: 1px solid #ccc;
    outline: none;
}
.barra-de-pesquisa i{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #666;
}
.l-direito{
    display: flex;
    align-items: center;
    gap: 30px;
}
.l-direito a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.l-direito i{
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
}
.l-direito a:hover{
    color: #6B8E23;
}

@media (max-width: 900px){

    .menu{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px;
        padding: 20px;
        border-radius: 20px;
    }

    .barra-de-pesquisa{
        width: 100%;
        max-width: 100%;
    }

    .l-direito{
        justify-content: center;
        width: 100%;
    }
}
/* ===== MENU USUÁRIO ===== */

.user-menu{
    position: relative;
    display: flex;
    align-items: center;
}

/* Ícone */
.user-menu i{
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.user-menu i:hover{
    color: #6B8E23;
}

/* ===== DROPDOWN ===== */

.dropdown{
    position: absolute;
    top: 45px;
    right: 0;
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    padding: 8px 0;
    width: 160px;

    display: none;          /* escondido por padrão */
    flex-direction: column;

    z-index: 1000;
    overflow: hidden;
}

/* Links */
.dropdown a{
    padding: 12px 15px;
    text-decoration: none;
    color: black;
    display: block;
    font-size: 15px;
    transition: 0.25s;
}

/* Hover */
.dropdown a:hover{
    background: #f5f5f5;
    color: #6B8E23;
}

/* Linha separadora */
.dropdown a:not(:last-child){
    border-bottom: 1px solid #eee;
}

/* Classe ativa (quando abre) */
.dropdown.show{
    display: flex;
}

.banner-inicial{
    width: 100%;
    padding: 40px 80px; 
}

.img-comp {
    width: 100%;
    height: auto; 
    border-radius: 20px; 
    display: block;
}
.img-cel{
    width: 100%;
    height: auto; 
    border-radius: 20px; 
    display: none;
}
@media (max-width: 768px){
    .banner-inicial{
        padding: 20px;
    }
}

/*MAIN*/

/* AREA PRODUTOS */
.secao-produtos {
    background-color: #E8E3D9; /* bege do fundo */
    padding: 60px 0;
}

.titulo-produtos {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: #4B5320; /* verde oliva */
    margin-bottom: 40px;
    letter-spacing: 1px;
}
.area-p{
    padding: 70px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

/* CARROSSEL */
.carrosel-p{
    display: flex;
    padding: 10px 0;
    gap: 30px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.carrosel-p::-webkit-scrollbar{
    display: none;
}

/* CARD PRODUTO */
.produto{
    min-width: 230px;
    background-color: #484933;
    padding: 20px;
    border-radius: 12px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;
    gap: 10px;
}

.produto:hover{
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* IMAGEM */

.card-img{
    width: 100%;
    aspect-ratio: 1 / 1; /* quadrado */
    overflow: hidden;
    margin-bottom: 15px;
}

.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* INFO */

.card-info{
    margin-bottom: 15px;
}

.produto-nome{
    font-size: 15px;
    margin-bottom: 6px;
}

.produto-descricao{
    font-size: 12px;
    opacity: 0.8;
    margin-bottom: 8px;
}

.produto-preco{
    font-size: 14px;
    font-weight: 600;
}

/* BOTÃO */

.btn-comprar{
    background-color: #E8E2D6;
    color: #484933;
    border: none;
    padding: 8px;
    margin: 6px;
    border-radius: 20px;
    font-size: 13px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-comprar:hover{
    background-color: #6B8E23;
    color: white;
}

/* SETAS */

.seta-esquerda,
.seta-direita{
    background: none;
    border: none;
    font-size: 35px;
    cursor: pointer;
    color: #484933;
    transition: 0.3s;
}

.seta-esquerda:hover,
.seta-direita:hover{
    transform: scale(1.1);
}
@media (max-width: 900px){

    .area-p{
        padding: 40px 20px;
    }

    .produto{
        min-width: 200px;
    }
}

@media (max-width: 600px){
    .img-comp{
        display: none;
    }
    .img-cel{
        display: block;
    }
    .seta-esquerda,
    .seta-direita{
        display: none;
    }

    .area-p{
        padding: 30px 15px;
    }

    .produto{
        min-width: 180px;
    }
}

/* CATEGORIAS */
.secao-categorias{
    padding: 30px;
}
.titulo-categoria {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: #E8E2D6;
    padding: 10px;
}
.categorias {
    transition: 0.3s ease;
}

.categorias:hover {
    transform: scale(1.05);
}
.categorias img{
    width: 180px;
    height: 180px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 50%;
    padding: 9px;
}
.area-c{
    padding: 40px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 25px;
    justify-items: center;
}
.area-c a{
    text-decoration: none;
    text-align: center;
    color: #E8E2D6;
}
.footer {
    background-color:#E8E2D6;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    bottom: 0;
    left: 0;
    width: 100%;
}