*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

/* HEADER */

.menu{
    background-color: #E8E2D6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    margin: 15px;
    border-radius: 50px;
}
.logo{
    width: 140px;
    height: 55px;
    object-fit: contain;
    cursor: pointer;
}
.barra-de-pesquisa{
    position: relative;
}
.barra-de-pesquisa input{
    width: 500px;
    height: 40px;
    border-radius: 20px;
    padding-left: 35px;
    border: 1px solid #ccc;
    outline: none;
}
.barra-de-pesquisa i{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #666;
}
.l-direito{
    display: flex;
    align-items: center;
    gap: 30px;
}
.l-direito a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.l-direito i{
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
}
.l-direito a:hover{
    color: #6B8E23;
}
/* MENU USUARIO */

.user-menu{
    position: relative;
}

.user-menu i{
    font-size: 30px;
    cursor: pointer;
}

/* Dropdown */

.dropdown{
    position: absolute;
    top: 45px;
    right: 0;
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    padding: 10px 0;
    width: 140px;
    display: none;
    flex-direction: column;
    z-index: 1000;
}

.dropdown a{
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.3s;
}

.dropdown a:hover{
    background: #f2f2f2;
    color: #6B8E23;
}

/* Classe ativa */

.dropdown.show{
    display: flex;
}