*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

/* HEADER */

.menu{
    background-color: #E8E2D6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    margin: 15px;
    border-radius: 50px;
}
.logo{
    width: 140px;
    height: 55px;
    object-fit: contain;
    cursor: pointer;
}
.barra-de-pesquisa{
    position: relative;
}
.barra-de-pesquisa input{
    width: 400px;
    height: 40px;
    border-radius: 20px;
    padding-left: 35px;
    border: 1px solid #ccc;
    outline: none;
}
.barra-de-pesquisa i{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #666;
}
.l-direito{
    display: flex;
    align-items: center;
    gap: 30px;
}
.l-direito a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.l-direito i{
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
}
.l-direito a:hover{
    color: #6B8E23;
}